/* Resetoi marginaalit ja padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

@keyframes colorFade {
    0% {
        background-color: #333;
    }
    25% {
        background-color: #2e7d32;
    }
    50% {
        background-color: #1565c0;
    }
    75% {
        background-color: #8e24aa;
    }
    100% {
        background-color: #333;
    }
}

.song-box {
    background: #333;
    padding: 25px;
    width: 320px;
    max-width: 90%;
    text-align: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 255, 34, 0.5);
    overflow: hidden;
    border-radius: 15px;
    animation: rotate-border 4s linear infinite,
               colorFade 20s infinite alternate ease-in-out;
}

.song-box {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.song-box.visible {
    opacity: 1;
    visibility: visible;
}

/* Animaatio liukuvärin pyörimiselle ilman katkoja */
@keyframes rotate-border {
    0% {
        box-shadow: 0 0 15px rgb(0, 255, 0), 0 0 30px rgb(0, 255, 13);
    }
    50% {
        box-shadow: 0 0 15px rgb(0, 255, 0), 0 0 30px rgb(1, 70, 16);
    }
    100% {
        box-shadow: 0 0 15px rgb(0, 255, 0), 0 0 30px rgb(0, 255, 34);
    }
}

.song-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #15ff00;
    font-weight: bold;
}

.song-box p {
    font-size: 1.1em;
    color: #fff;
    margin-top: 8px;
    font-style: italic;
}

.album-img {
    width: 70%;
    max-width: 160px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    animation: rotate-border 4s linear infinite
}